<h4>予約リスト</h4>
  <%= link_to "募集へ戻る", recruit_path(@recruit), class: "btn" %>
<div class="reserve_list_area">
  <%= render 'recruits/partial/list', reserves: @reserves, recruit: @recruit %>
</div>
<div class="confirm_btn">
  <%= render 'reserves/confirm', reserves: @reserves, recruit: @recruit %>
</div>
